ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    max-height: 60vh;
    scrollbar-width: thin;
    border: 2px solid;
    border-color: rgb(83, 6, 99);
    border-radius: 20px;
}
li {
    margin: 8px;
    padding: 8px;
}