<div class="backdrop"></div>
<dialog open>
    <h2>Add Task</h2>
    <form>
        <p>
            <label for="title">Title</label>
            <input id="title" name="title" type="text" />
        </p>

        <p>
            <label for="summary">Summary</label>
            <input id="summary" name="summary" rows="5" />
        </p>

        <p>
            <label for="due-date">Due Date</label>
            <input id="due-date" name="due-date" type="date" />
        </p>
    </form>

    <p class="actions">
        <button type="button">Cancel</button>
        <button type="button">Create</button>
    </p>
</dialog>